.header {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    // border-bottom: 0.06rem solid rgba(255, 255, 255, 26%);
    // padding: 1.1rem 0;
    z-index: 4;
}


