/*font family*/
$primary-font:'Manrope'; 
$secondary-font:'Mirador';
$tertiary-font:'Aileron';
$quaternary-font:'Gilroy';

/*color*/
$color-white:#FFFFFF;
$color-light-blue: #3B78EC;
$color-light-grey: #707070;
$color-grey: #787878;
$color-navy-blue: #23324E; 
$color-light-black: #1e1111db;


/*bg-color*/
$light-color-red:#B12134;
$color-black:#000000;

/*font-family*/
$fonts-path: "../fonts" !default;


$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-pixar-arrow-up-right: "\e900";
$icon-pixar-location: "\e902";
$icon-pixar-facebook: "\e904";
$icon-pixar-instagram: "\e905";
$icon-pixar-twitter: "\e903";
$icon-pixar-linkedin: "\e901";

